body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.conteaner {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    background-color: #018484;
}

menu {
    color:white;
    font-weight: bold;
    padding-left: 2rem;
}

main {
    background-color: #009f9f;
    display: flex;
    gap: 1rem;
    overflow: scroll;
    overflow-y: hidden;
    padding: 1rem;
}

main > div {
    padding: 1rem;
    box-sizing: border-box;
    width: 21rem;
    flex-shrink: 0;
    background-color: #dddddd;
    border-radius: 0.25rem;
    overflow: auto;
}

h3 {
    margin: 0.25rem 0 0.5rem;
    font-size: 1rem;
}

.boards {
    background-color: #f7f7f7;
    border-radius: 0.25rem;
    margin: 1rem 0;
    padding: 1rem;
    padding-bottom: 0.5rem;
    padding-right: 0.75rem;
}

.boards:hover {
    background-color: #fff;
    cursor: pointer;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.75rem;
}

.attached {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1rem;
    align-items: center;
}

.attach, .checkbox, .comments {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.attach div, .checkbox div, .comments div, .justify {
    width: 1rem;
    height: 1rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.justify {
    background-image: url(icons_hw_module_8_9/justify_26.png);
    margin-right: 0.25rem;
}

.attach div {
    background-image: url(icons_hw_module_8_9/attach_26.png);
}

.checkbox div {
    background-image: url(icons_hw_module_8_9/checkbox_26.png);
}

.comments div {
    background-image: url(icons_hw_module_8_9/comments_26.png);
}

.user {
    width: 2.5rem;
    height: 2.5rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.ava1 {
    background-image: url(icons_hw_module_8_9/avatar_1.png);
}

.ava2 {
    background-image: url(icons_hw_module_8_9/avatar_2.png);
}

.ava3 {
    background-image: url(icons_hw_module_8_9/avatar_3.png);
}

.ava4 {
    background-image: url(icons_hw_module_8_9/avatar_4.png);
}

::-webkit-scrollbar {
    width: 0.25em;
}

main::-webkit-scrollbar {
    height: 0.8rem;
    background-color:#027979 ;
}

::-webkit-scrollbar-thumb {
    background-color: #025959;
}

main ::-webkit-scrollbar-thumb {
     background-color: #018484;
     border-radius: 3px;
}